/*--------------------------------------------------------------
# Variables

--------------------------------------------------------------*/

//
// Color
// --------------------------------------------------

$color--plaza-aqua: #00ad97;
$color--plaza-green: #80bc00;
$color--plaza-gray: #6c706f;
$color--plaza-gray-green: #004c43;

$color--text-main: $color--plaza-gray;
$color__background-body: white;
//
// Type
// --------------------------------------------------
$type--fontfamily: "Century Gothic", Arial, Helvetica, sans-serif;
$type-fontsize-root: 20px;
$type-lineheight-regular: 1.5;

$type--fontsize-root-small: 16px;

//
// Size
// --------------------------------------------------
$size--width-extra-wide: 1400px;

$size--radius-intense: 0.4rem;
