/*--------------------------------------------------------------
# Typography
## Defaults
--------------------------------------------------------------*/
html,
body,
button,
input,
select,
textarea {
	color: $color--text-main;
	font-family: $type--fontfamily;
  font-size: $type--fontsize-root;
  line-height: $type--lineheight-regular;
	@include respondTo(upto-medium) {
		font-size: $type--fontsize-root-small;
	}
}

p {
  font-family: $type--fontfamily;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: $type--fontfamily;
  font-weight: normal;
  font-style: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

strong + em,
em + strong {
	font-weight: bold;
	font-style: italic;
}


